
.background:backdrop {
    /* I want everything nice and flat in the unfocused window */
    text-shadow: none;
    icon-shadow: none;
background-color: alpha (@theme_base_color, 0.98);
    color: @theme_unfocused_fg_color;
}
.pathbar:backdrop,
.path-bar:backdrop,
.toolbar:backdrop,
.primary-toolbar .toolbar:backdrop,
.primary-toolbar.toolbar:backdrop {
    border-color: shade(@unfocused_borders, 1.3);
background-color: #333;
    box-shadow: none;
    text-shadow: none;
}



GtkDialog .titlebar:backdrop,
GtkMessageDialog .titlebar:backdrop  {
    text-shadow: none;
    background-image: none;
    color: shade (@wm_title, 0.95);
background-color: #333;

    box-shadow: none;
    border: none;
}

.menu.button {
    background-image: none;
    background-color: @theme_base_color;
    color: @internal_element_color;

    border-image: none;
    border-style: none;
}


.primary-toolbar .toolbar:backdrop,
.primary-toolbar.toolbar:backdrop {
    border-color: shade(@unfocused_borders, 1.3);
background-color: #333;
    box-shadow: none;
    text-shadow: none;
}

.menu,
.popup {
     padding: 3px;
     border-radius: 4px;
     background-color: transparent;
     background-image: linear-gradient(to bottom,
                                   alpha (@theme_bg_color, 0.88),
                                   alpha (@theme_bg_color, 0.98) 80%,
                                   alpha (@theme_bg_color, 0.88)
                                   );

}


.window-frame.menu.csd,
.window-frame.popup.csd {
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px alpha (#fff, 0.10),
                inset 0 1px 0 0 alpha (#fff, 0.90),
               inset 0 -1px 0 0 alpha (#fff, 0.30),
                 0 0 0 1px alpha (#000, 0.20),
                 0 2px 7px 0 alpha (#000, 0.35);
     margin: 0;
 }
  
 .window-frame.tooltip.csd {
     border-radius: 3px;
     box-shadow: none;
     margin: 0;
 }
.menuitem:active,
.menuitem:hover, 
.menu:active,
.menu:hover,
.menu .menuitem:active,
.menu .menuitem:hover {
    background-color: @theme_selected_bg_color;
border-radius: 2px;
}

.menu.button:hover {
    background-image: none;
    background-color: @theme_base_color;
    color: @theme_text_color;

    border-image: none;
    border-style: none;
}




/*
GtkDialog .titlebar,
GtkMessageDialog .titlebar {
padding: 7px;    
border: none;

    background-image: none;
    background-color: @theme_bg_color;

    box-shadow: inset 1px 0 0 0 alpha (#fff, 0.02),
                inset -1px 0 0 0 alpha (#fff, 0.02),
                inset 0 1px 0 0 alpha (#fff, 0.05);
}

*/

NoiseInfoPanel,
GtkSidebar,
GtkViewport,
GeditPanel,
.sidebar .view,
.sidebar,
.sidebar.view,
.source-list,
.source-list.view {
   background-color: alpha (@theme_sidebar_color, 0.45);
color: #fafafa;
text-shadow: 0 1px alpha (#000, 0.9);
    icon-shadow: 0 1px alpha (#000, 0.9);
    
}

NoiseInfoPanel:backdrop,
GthSidebar:backdrop,
GtkViewport:backdrop,
GtkStack .view:backdrop,
.sidebar .view:backdrop,
.sidebar:backdrop,
.sidebar.view:backdrop,
.source-list:backdrop,
.source-list.view:backdrop {
background-color: alpha (@theme_bg_color, 0.2);
    
}


NoiseInfoPanel:selected,
GthSidebar:selected,
GtkViewport:selected,
GeditPanel:selected,
.sidebar .view:selected,
.sidebar:selected,
.sidebar.view:selected,
.source-list:selected,
.source-list.view:selected {
  background-color: @theme_selected_bg_color ;
    
}


.sidebar .view:selected:backdrop,
.sidebar:selected,
.sidebar.view:selected:backdrop,
.source-list:selected:backdrop,
.source-list.view:selected:backdrop {
  background-color: shade (@theme_bg_color, 0.78) ;

text-shadow: 0 1px alpha (#fff, 0.2);
    icon-shadow: 0 1px alpha (#fff, 0.2);
    
}


.sidebar .view,
.sidebar,
.sidebar.view,
.source-list,
.source-list.view {

color: #fafafa;
text-shadow: 0 1px alpha (#000, 0.9);
    icon-shadow: 0 1px alpha (#000, 0.9);
    
}


.sidebar .view:selected:backdrop:hover,
.sidebar:selected:hover,
.sidebar.view:selected:backdrop:hover,
.source-list:selected:backdrop:hover,
.source-list.view:selected:backdrop:hover,

.sidebar .view:selected:backdrop,
.sidebar:selected,
.sidebar.view:selected:backdrop,
.source-list:selected:backdrop,
.source-list.view:selected:backdrop {

color: #fafafa;
text-shadow: 0 1px alpha (#000, 0.2);
    icon-shadow: 0 1px alpha (#000, 0.2);
    
}

/***************
 * Header bars *
 ***************/

.header-bar:backdrop,
.titlebar:backdrop {
    text-shadow: none;
    background-image: none;

background-color: shade (@theme_bg_color, 1.1);


 border-width: 0 0 1px;
    border-style: solid;
    border-color: shade(@borders, 1.1);
    box-shadow: none;

}

.notebook tab.reorderable-page:active:backdrop {
background-color: shade (@theme_bg_color, 1);
    background-image:none;




    border-left: 1px solid shade (@borders, 1.15);
    border-right: 1px solid shade (@borders, 1.15);
border-bottom:none;
border-radius:0px 0px 0px 0px ;
}

.notebook.header:backdrop {
background-color: shade (@theme_bg_color, 1.1);
background-image:  none;
   

    box-shadow: none;
    border-width: 0px;
    padding: 0;

}
.header-bar,
.titlebar {

background-image:none;
background-color: alpha (@theme_bg_color2, 0.98);

  border-radius: 5px 5px 0px 0px;
 text-shadow: 0 1px @wm_title_shadow;


 border-width: 0 0 1px;
    border-style: solid;
    border-color: shade(@borders, 0.95);

    box-shadow: inset 0 0 0 1px alpha (#fff, 0.05),
                inset 0 1px 0 0 alpha (#fff, 0.05);

}

.titlebar .title {
color: @metacity_text;
font: bold;

}





.titlebar .left .titlebutton:nth-child(2):backdrop {
	background-image: url('window-controls/unfocused-dark.svg');
padding: 0px 0px 0px 0px;
-gtk-image-effect: dim;
box-shadow:none;
}

.titlebar .left .titlebutton:first-child:backdrop {
	background-image: url('window-controls/unfocused-dark.svg');
    padding: 0px 0px 0px 0px;
-gtk-image-effect: dim;
box-shadow:none;
}


.titlebar .left .titlebutton:nth-child(3):backdrop {
	background-image: url('window-controls/unfocused-dark.svg');
    padding: 0px 0px 0px 0px;
box-shadow:none;
-gtk-image-effect: dim;
}



.window-frame .maximized,
.window-frame {
  border-radius: 5px 5px 0px 0px;

    box-shadow: 0 0 0 1px alpha (#000, 0.9),
                0 4px 8px alpha (#000, 0.6);



    margin: 12px;
}

.window-frame:backdrop {
    box-shadow: 0 0 0 1px alpha (#000, 0.8),
                0 2px 5px alpha (#000, 0.58);
}




GtkIconView.cell:selected,
GtkIconView.cell:selected:focus {
    background-color: alpha(@theme_base_color, 0.0);

    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: #d3d7cf;

    /* FIXME: this probably needs to be better;
     * see https://bugzilla.gnome.org/show_bug.cgi?id=644157
     */
    outline-color: alpha(@theme_text_color, 0.4);
    outline-style: dashed;
    outline-offset: 5px;
}

.button,
GtkComboBox {
    text-shadow: 0 -1px @button_text_shadow;
}

.button:active,
GtkComboBox:active {
    text-shadow: 0 1px @button_active_text_shadow;
}

.button:active:insensitive,
GtkComboBox:active:insensitive {
    text-shadow: none;
    color: @insensitive_fg_color;
}

.toolbar .button.raised,
.toolbar .raised .button,
.inline-toolbar .button {
    text-shadow: 0 -1px @button_text_shadow;
    icon-shadow: 0 -1px @button_text_shadow;
}

.toolbar .button.raised:active,
.toolbar .raised .button:active,
.inline-toolbar .button:active {
    text-shadow: 0 1px @button_active_text_shadow;
    icon-shadow: 0 1px @button_active_text_shadow;
}

.toolbar .button.raised:insensitive,
.toolbar .raised .button:insensitive,
.inline-toolbar .button:insensitive {
    text-shadow: none;
    icon-shadow: none;
}

.toolbar .button.raised:backdrop,
.toolbar .raised .button:backdrop,
.inline-toolbar .button:backdrop {
    text-shadow: none;
    icon-shadow: none;
}

column-header.button,
column-header .button {
    text-shadow: none;
}

GtkTreeMenu .menuitem,
.button .menuitem,
.toolbar .button .menuitem {
    text-shadow: none;
}

.spinbutton .button {
    icon-shadow: none;
}

.button .separator,
.button .separator:prelight {
    color: alpha (@theme_text_color, 0.1);
}


.scrollbar.trough.vertical {
    box-shadow: none;
}

.scrollbar.trough.horizontal {
    box-shadow: none;
}

.primary-toolbar .toolbar,
.primary-toolbar.toolbar {
    box-shadow: none;
}

.entry:focus {
    box-shadow: inset 2px 2px alpha(lighter(@theme_selected_bg_color), 0.2),
                inset -2px -2px alpha(lighter(@theme_selected_bg_color), 0.2),
                inset 1px 1px alpha(lighter(@theme_selected_bg_color), 0.7),
                inset -1px -1px alpha(lighter(@theme_selected_bg_color), 0.7);
}

GtkComboBox.combobox-entry .entry:focus:first-child {
    box-shadow: inset 2px 2px alpha(lighter(@theme_selected_bg_color), 0.2),
                inset -1px -2px alpha(lighter(@theme_selected_bg_color), 0.2),
                inset 1px 1px alpha(lighter(@theme_selected_bg_color), 0.7),
                inset 0 -1px alpha(lighter(@theme_selected_bg_color), 0.7);
}

GtkComboBox.combobox-entry .entry:focus:last-child {
    box-shadow: inset 1px 2px alpha(lighter(@theme_selected_bg_color), 0.2),
                inset -2px -2px alpha(lighter(@theme_selected_bg_color), 0.2),
                inset 0 1px alpha(lighter(@theme_selected_bg_color), 0.7),
                inset -1px -1px alpha(lighter(@theme_selected_bg_color), 0.7);
}

.spinbutton .button:active {
    box-shadow: inset 1px 0 @inset_dark_color,
                inset 0 2px alpha(lighter(@theme_selected_bg_color), 0.2),
                inset 0 -2px alpha(lighter(@theme_selected_bg_color), 0.2), 
                inset 0 1px alpha(lighter(@theme_selected_bg_color), 0.7), 
                inset 0 -1px alpha(lighter(@theme_selected_bg_color), 0.7);
}

.spinbutton .button:first-child:active {
    box-shadow: inset 2px 2px alpha(lighter(@theme_selected_bg_color), 0.2), 
                inset 0 -2px alpha(lighter(@theme_selected_bg_color), 0.2), 
                inset 1px 1px alpha(lighter(@theme_selected_bg_color), 0.7), 
                inset 0 -1px alpha(lighter(@theme_selected_bg_color), 0.7);
}

.spinbutton .button:last-child:active {
    box-shadow: inset 1px 0 @inset_dark_color, 
                inset 0 2px alpha(lighter(@theme_selected_bg_color), 0.2), 
                inset -2px -2px alpha(lighter(@theme_selected_bg_color), 0.2), 
                inset 0 1px alpha(lighter(@theme_selected_bg_color), 0.7),
                inset -1px -1px alpha(lighter(@theme_selected_bg_color), 0.7);
}

.spinbutton.vertical .button {
    icon-shadow: 0 -1px @button_text_shadow;
}

.spinbutton.vertical .button:active {
    icon-shadow: 0 1px @button_active_text_shadow;
}

.spinbutton.vertical .button:backdrop {
    icon-shadow: none;
}

GtkColorSwatch,
GtkColorSwatch:selected,
GtkColorSwatch:hover,
GtkColorSwatch:selected:hover,
GtkColorEditor GtkColorSwatch.color-dark:hover,
GtkColorEditor GtkColorSwatch.color-light:hover {
    border-color: @borders;
    box-shadow: inset 0 2px alpha(black, 0.15), inset 1px 1px alpha(black, 0.15);
}

GtkColorSwatch.color-dark:hover {
    background-image: linear-gradient(to bottom,
                                      alpha(white, 0) 40%,
                                      alpha(white, 0.2)
                                      );

}

GtkColorSwatch.color-light:hover {
    background-image: linear-gradient(to top,
                                      alpha(black, 0) 40%,
                                      alpha(black, 0.3)
                                      );

}

GtkColorSwatch:backdrop,
GtkColorSwatch:backdrop:selected {
    border-color: @unfocused_borders;
}

GtkColorSwatch:backdrop:hover {
    border-color: @unfocused_borders;
    background-image: none;
    box-shadow: none;
}

GtkColorChooserWidget #add-color-button,
GtkColorChooserWidget #add-color-button:hover {
    color: @theme_bg_color;
}

.color-active-badge.color-light:backdrop {
    border-color: #444444;
    color: #444444;
}

.color-active-badge.color-dark:backdrop {
    border-color: #cccccc;
    color: #cccccc;
}

GtkColorEditor GtkColorSwatch.color-dark:hover,
GtkColorEditor GtkColorSwatch.color-light:hover {
    background-image: none;
    border-color: @unfocused_borders;
}

.selection-mode.header-bar .button,
.selection-mode.header-bar .button:active,
.selection-mode.toolbar .button,
.selection-mode.toolbar .button:active,
.selection-mode.toolbar GtkToolButton .button,
.selection-mode.toolbar GtkToolButton .button:active {
    text-shadow: 0 -1px @selection_toolbar_button_shadow;
    icon-shadow: 0 -1px @selection_toolbar_button_shadow;
}

.selection-mode.header-bar .suggested-action.button,
.selection-mode.header-bar .suggested-action.button:active,
.selection-mode.toolbar .suggested-action.button,
.selection-mode.toolbar .suggested-action.button:active,
.selection-mode.toolbar GtkToolButton.suggested-action .button,
.selection-mode.toolbar GtkToolButton.suggested-action:active {
    text-shadow: 0 -1px @button_text_shadow;
    icon-shadow: 0 -1px @button_text_shadow;
}

menu .separator,
GtkPopover .separator {
    
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    icon-shadow: none;
    border: 0;
}

GtkPopover {
    box-shadow: 0 2px 8px 3px alpha(@wm_shadow, 0.4);
}

GtkPopover.background, 
GtkPopover {
    border-radius: 5px;
    background-clip: border-box;
    /*
    background-color: @osd_popover_bg;
    */
    background-color: @theme_bg_color;

    border-color: shade (@theme_bg_color, 0.4);
    border-width: 1px;
    border-style: solid;

    box-shadow: 0 2px 3px @wm_shadow;
    margin: 10px;
    padding: 2px;
}



/* Pushed button and progressbar through background */





/************
 * GtkScale *
 ************/

/********
* Scale *
********/

.scale {
    -GtkScale-slider-length: 16;
    -GtkRange-slider-width: 16;
    -GtkRange-trough-border: 0;
}

.header-bar .scale.slider,
.scale.slider {
    border: 1px solid alpha (#000, 0.25);
    border-radius: 10px;

    background-image: linear-gradient(to bottom,
                                  shade (@theme_bg_color, 1.10),
                                  shade (@theme_bg_color, 0.88)
                                  );

    box-shadow: inset 0 0 0 1px alpha (#fff, 0.1),
                inset 0 1px 0 0 alpha (#fff, 0.2),
                inset 0 -1px 0 0 alpha (#fff, 0.1),
                0 1px 2px alpha (#000, 0.25);
}
.header-bar .scale.slider:focus,
.scale.slider:focus {
    border: 1px solid alpha (@theme_selected_bg_color, 0.4);

    box-shadow: inset 0 0 0 1px alpha (#fff, 0.1),
                inset 0 1px 0 0 alpha (#fff, 0.2),
                inset 0 -1px 0 0 alpha (#fff, 0.1),
                0 1px 2px alpha (@theme_selected_bg_color, 0.7);
}



.scale.slider:backdrop {
    background-image: linear-gradient(to bottom,
                                  shade (@theme_bg_color, 1.05),
                                  shade (@theme_bg_color, 0.95)
                                  );

    border-color: alpha (#000, 0.15);

    box-shadow: inset 0 0 0 1px alpha (#fff, 0.10),
                inset 0 1px 0 0 alpha (#fff, 0.90),
                inset 0 -1px 0 0 alpha (#fff, 0.30),
                0 1px 1px alpha (#000, 0.10);
}
.header-bar .scale.slider,
.toolbar .scale.slider,
.scale.slider:insensitive {
    background-image: none;
    border: none;
    box-shadow: none;

}
.header-bar .scale.trough,
.scale.trough {
    margin: 6px 0 5px 0;

    border: 1px solid alpha (#000, 0.35);
    border-radius: 12px;

    background-image: linear-gradient(to bottom,
                                  alpha (#000, 0.15),
                                  alpha (#000, 0.07)
                                  );

    box-shadow: inset 0 0 0 1px alpha (#000, 0.08),
                0 1px 0 1px alpha (#fff, 0.1);
}
.header-bar .scale.trough,
.toolbar .scale.trough {
    border-radius: 0 12px 12px 0;
    border-width: 1px 1px 1px 0;
}

.scale.trough:insensitive {
    background-color: shade (@theme_bg_color, 1.25);
    border-color: shade (@inactive_frame_color, 0.9);
    border-radius: 0 12px 12px 0;
    border-width: 1px 1px 1px 0;
}

.scale.trough.vertical {
    margin: 0 5px 0 6px;

    background-image: linear-gradient(to right,
                                  alpha (#000, 0.15),
                                  alpha (#000, 0.07)
                                  );
}


.scale.trough.vertical:insensitive {
    background-image: linear-gradient(to right,
                                  alpha (#000, 0.10),
                                  alpha (#000, 0.02)
                                  );
}

.scale.mark {
    background-color: alpha (#000, 0.40);
}

.scale.highlight.left {
    border: 1px solid alpha (#000, 0.50);
    border-radius: 12px 0 0 12px;

    
     background-image: linear-gradient(to bottom,
                                  alpha (#9de5d7, 1),
                                  alpha (#9ecef2, 1)
                                  );

    box-shadow: inset 0 0 0 1px alpha (#000, 0.08),
                0 1px 0 1px alpha (#fff, 0.1);
}

.scale.highlight.left:insensitive {
    border: 1px solid alpha (#000, 0.40);
    background-image: linear-gradient(to bottom, alpha (#000, 0.30), alpha (#000, 0.20));
}

