/*
Set correct layout with
gsettings set org.gnome.settings-daemon.plugins.xsettings overrides "{'Gtk/DecorationLayout': <':minimize,maximize,close'>}" for buttons on the right
or
gsettings set org.gnome.settings-daemon.plugins.xsettings overrides "{'Gtk/DecorationLayout': <'close,minimize,maximize:'>}"
for buttons on the left
*/

.header-bar .button.titlebutton,
.titlebar .button.titlebutton,
.header-bar .button.titlebutton:hover,
.titlebar .button.titlebutton:hover,
.header-bar .button.titlebutton:checked,
.titlebar .button.titlebutton:checked {
    background: none;
    border-width: 1px 0px 2px 0px;
    border-color: transparent;
    border-style: solid;
    border-image: none;
    icon-shadow: none;
    box-shadow: none;
}

.header-bar .right .button.titlebutton,
.titlebar .right .button.titlebutton {
    padding-left: 0px;
    padding-right: 0px;
}
.header-bar .left .button.titlebutton,
.titlebar .left .button.titlebutton {
    padding-left: 0px;
    padding-right: 0px;
}
.titlebar .right .titlebutton,
.titlebar .left .titlebutton,
.titlebar .right .titlebutton:hover,
.titlebar .left .titlebutton:hover,
.titlebar .right .titlebutton:active:hover,
.titlebar .left .titlebutton:active:hover,
.titlebar .right .titlebutton:backdrop,
.titlebar .left .titlebutton:backdrop {
    color: transparent;
    background-position: center;
    background-repeat: no-repeat;
}

/* Minimize */
.titlebar .right .titlebutton:nth-last-child(3),
.titlebar .right:dir(rtl) .titlebutton:nth-child(3),
.titlebar .left .titlebutton:nth-child(2),
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(2) {
    background-image: url('window-controls/min.svg');
}

.titlebar .right .titlebutton:nth-last-child(3):backdrop,
.titlebar .right:dir(rtl) .titlebutton:nth-child(3):backdrop,
.titlebar .left .titlebutton:nth-child(2):backdrop,
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(2):backdrop {
    background-image: url('window-controls/min_unfocused.svg');
}

.titlebar .right .titlebutton:nth-last-child(3):hover,
.titlebar .right:dir(rtl) .titlebutton:nth-child(3):hover,
.titlebar .left .titlebutton:nth-child(2):hover,
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(2):hover {
    background-image: url('window-controls/min_prelight.svg');
}

.titlebar .right .titlebutton:nth-last-child(3):active,
.titlebar .right:dir(rtl) .titlebutton:nth-child(3):active,
.titlebar .left .titlebutton:nth-child(2):active,
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(2):active {
    background-image: url('window-controls/min_pressed.svg');
}

/* Maximize */
.titlebar .right .titlebutton:nth-last-child(2),
.titlebar .right:dir(rtl) .titlebutton:nth-child(2),
.titlebar .left .titlebutton:nth-child(3),
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(3) {
    background-image: url('window-controls/max.svg');
}

.titlebar .right .titlebutton:nth-last-child(2):backdrop,
.titlebar .right:dir(rtl) .titlebutton:nth-child(2):backdrop,
.titlebar .left .titlebutton:nth-child(3):backdrop,
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(3):backdrop {
    background-image: url('window-controls/max_unfocused.svg');
}

.titlebar .right .titlebutton:nth-last-child(2):hover,
.titlebar .right:dir(rtl) .titlebutton:nth-child(2):hover,
.titlebar .left .titlebutton:nth-child(3):hover,
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(3):hover {
    background-image: url('window-controls/max_prelight.svg');
}

.titlebar .right .titlebutton:nth-last-child(2):active,
.titlebar .right:dir(rtl) .titlebutton:nth-child(2):active,
.titlebar .left .titlebutton:nth-child(3):active,
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(3):active {
    background-image: url('window-controls/max_pressed.svg');
}

/* Close */
.titlebar .right .titlebutton:last-child,
.titlebar .right:dir(rtl) .titlebutton:first-child,
.titlebar .left .titlebutton:first-child,
.titlebar .left:dir(rtl) .titlebutton:last-child {
    background-image: url('window-controls/close.svg');
}

.titlebar .right .titlebutton:last-child:backdrop,
.titlebar .right:dir(rtl) .titlebutton:first-child:backdrop,
.titlebar .left .titlebutton:first-child:backdrop,
.titlebar .left:dir(rtl) .titlebutton:last-child:backdrop {
    background-image: url('window-controls/close_unfocused.svg');
}

.titlebar .right .titlebutton:last-child:hover,
.titlebar .right:dir(rtl) .titlebutton:first-child:hover,
.titlebar .left .titlebutton:first-child:hover,
.titlebar .left:dir(rtl) .titlebutton:last-child:hover {
    background-image: url('window-controls/close_prelight.svg');
}

.titlebar .right .titlebutton:last-child:active,
.titlebar .right:dir(rtl) .titlebutton:first-child:active,
.titlebar .left .titlebutton:first-child:active,
.titlebar .left:dir(rtl) .titlebutton:last-child:active {
    background-image: url('window-controls/close_pressed.svg');
}
